header {
    font-family: "Open Sans", Montserrat, Oswald, serif;
    background-color: #7cd763;
    color: black;
    padding: 20px;
    text-align: center;
    margin: -10px;
    
}

body {
    font-family: "Open Sans", Montserrat, Oswald, serif;
    background-image: url('images/greenbackground.jpg');
}
h1 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

#facts {
    overflow: hidden;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 10%;
    border-right: 10%;
    margin-left: 10px;
    width: 58%;
    background-color: #d5de92;
}

#facts span {
    float: right;
}

#firstfav {
    float: left;
    width: 20%;
    padding-top: 10px;
}

#firstfav img {
    height: 300px;
}

#secondfav {
    float: left;
    width: 20%;
    padding-left: 15%;
    padding-top: 10px;
}

#secondfav img {
    height: 450px;
    padding-top: 30px;
}

#thirdfav {
    float: left;
    padding-left: 10%;
    padding-top: 10px;
    width: 20%;
}

#thirdfav img {
    height: 400px;
    padding-top: 45px;
}

#navbar {
    overflow: hidden;
    background-color: #d5de92;
    border-bottom: 8px;
    border-style: solid;
    border-color: black;
}

#navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

#portrait {
    float: left;
}

#intro {
    padding-bottom: 10px;
}

#bio {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    margin-right: 10px;
    display: block;
    color: black;
    border-style: solid;
    border-color: black;
    float: right;
    width: 50%;
}

#bioh {
    background-color: #7cd763;
}

#hobbies {
    background-image: url('images/greenbackground2.jpg');
    background-size: cover;
    padding-bottom: 20px;
}

img {
    width: auto;
}

#leftdiv {
    padding: 15px;
    margin-top: 20%;
    margin-left: 5%;
    width: 30%;
    float: left;
}

#leftdiv img {
    height: 265px;
    margin-top: -200px;
}

#centerdiv img {
    height: 265px;
    margin-top: -200px;
    width: 380px;
}

#rightdiv img {
    height: 600px;
    margin-top: -200px;
    padding-top: -200px;
}

#centerdiv {
    margin-top: 20%;
    padding: 15px;
    float: left;
    width: 25%;
}

#rightdiv {
    height: 100%;
    padding: 15px;
    float: left;
    width: 25%;
}

#leftimg {
    padding: 15px;
    float: left;
    height: auto;
    width: auto;
}

#centerimg {
    padding: 15px;
    float: left;
    padding-top: 60px;
}

#rightimg {
    padding: 15px;
    float: left;
}

figure {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    text-align: left;
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

#imgfav img {
  padding-left: 30%;
}

#navbar a:hover {
    color: grey;
}
#container {
    font-family: "Open Sans", Montserrat, Oswald, serif;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    padding-left: 15px;
}

footer {
    font-weight: 400;
    color:black;
    float: right;
    font-style: italic;
    background-color:  #d5de92;
    position: relative;
    padding-bottom: 10px;
    left: 0;
    padding-left: 10px;
    text-align: right;
    left: 0;
    margin-top: 20px;
    font-size: small;
    width: 100%;
}

footer span {
    float: left;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}